/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ##################### */

:root {
  /* colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;

  /* spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;
}

body {
  height: 100vh;
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Card styling */
main {
  flex: 1;
  display: flex;
  align-items: center;
}
.card {
  width: fit-content;
  padding: var(--space-200) var(--space-200) var(--space-500) var(--space-200);
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 7px #eeeeee76;
  transition: box-shadow 0.2s ease-in-out;

  img {
    border-radius: 10px;
  }

  p {
    margin: 0;
    font-family: "Outfit", sans-serif;
    text-align: center;
  }
  .text-content {
    max-width: 288px;
    margin-top: var(--space-200);
    padding-inline: var(--space-200);
    .bold {
      font-weight: 700;
      font-size: 22px;
      color: var(--slate-900);
      margin-bottom: var(--space-200);
      line-height: 120%;
      letter-spacing: 0;
    }
    .regular {
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 0.2px;
      color: var(--slate-500);
    }
  }
}

.card:hover {
  box-shadow: 0 0 7px gray;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: var(--space-200);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
